.booking-form {
  background-color: #ffffff;
  height: 26px;
  color: #a8a8a8;
  border-radius: 4px;
  margin: 2px 0;
  padding: 12px 9px;
  font-size: 20px;

  display: flex;
  flex-direction: row;
}

.booking-form input {
  border: none;
  font-size: 20px;
  color: #a8a8a8;
  margin-left: 4px;
  font-weight: inherit;
}
